*{
    box-sizing: border-box;
   
}

body{
    font-family: 'Roboto', sans-serif;
}

.box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}

button{
    background-color: #E8833A;
    color:white;
    font-size:18px;
    border:none;
    border-radius:3px;
    width:83px;
    height:43px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover{
    background-color: rgb(168, 68, 1);
}

.Footer{
    background-color: #DFE6ED;
    border: 1px solid #9EADBA;
    display:flex;
    align-items: center;
}

.Footer .movie{
    width: 64px;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.Footer .movie img{
    width:48px;
    height:72px;
}

.Footer p{
    font-size: 26px;
    color: #293845;
} 



